@media (max-width:425px){
    .logo{
        margin:1.5rem;
        align-items: flex-start;
    }

    body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }
}

@media (max-width:425px){
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .informacoes{
        align-items: center;
    }

    .informacoes .botao{
        margin-left: 0;
    }
    
}


@media (max-width:425px){
    .icones{
        margin-top: 2rem;
        justify-content: center;
        margin-right: 0;
    }
}